<!-- Post Content -->
<div class="container">
    <button class="btn btn-default" ng-click="addComment()"> Add Comment </button>
    <form class="navbar-form navbar-right" role="search" ng-submit="search(query)">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="query">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>

                    <h2 class="subheading">{{ post.subtitle}}</h2>
                    <span class="meta">Posted by <a href="#">{{ post.author}}</a> on {{ post.dateCreated}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{ post.body}}
            </div>
        </div>
    </div>
</article>
<div class="container">
    <div class="col-lg-7 col-lg-offset-3" ng-repeat="comment in comments">
        <div class="row">
            {{comment.author}}
            <p>{{comment.dateCreated}}</p>
            <p>{{comment.body}}</p>
        </div>
        <hr>
    </div>
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <div class="row">
            <h1>Add A Comment</h1>
        </div>
        <form role="form" ng-submit="addComment(comment)">
            <div class="form-group">
                <input type="text" name="author" id="author" class="form-control input-sm" placeholder="author" ng-model="comment.author">
            </div>

            <div class="form-group">
                <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" ng-model="comment.email">
            </div>

            <div>
                <textarea class="text-area form-control" rows="6" ng-model="comment.body"></textarea>
            </div>

            <hr>

            <input type="submit" value="submit" class=" btn-info btn-block">
        </form>
    </div>
</div>

